.cloud-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

header{
    background-color: black;  
}
.navbar{
    background-color:black !important;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    justify-content: center;
    flex-basis: auto;
  }

  .nav-link{
	text-decoration: none;
	color:white;
}

ul{ 
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	color: white;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
}

body{
    background-color: black;
}

.imgfondo{
    background-image: url(../img/central.png);
    background-size: cover;
    height: 60vh;
    margin-bottom: 59px;
    }

.div1{
    padding-top: 59px;  
}
.descarga{
    align-content: flex-end;
    padding-top: 59px;
}

img{
    width: auto;
    justify-content: center;
}
.seccion{
    font-family: 'Press Start 2P', cursive; 
    color: white;
    font-size: 20px;
    margin: 30px;
}
a{
    font-family: 'Press Start 2P', cursive; 
    color: white;
    font-size: 12px; 

}

p{
    font-family: 'Press Start 2P', cursive; 
    color: white;
    font-size: 12px; 
    margin-left: 30px;
    margin-right: 30px;
}

.seccion3{
    margin-top: 50px;
}


.imagen2{
width: 100%;
}


.seccion4{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.seccion4 img{
	width:100%;
}


.seccion5{
	margin: 15px;
}