.banner{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}

.imagen{
  width: 80%;  
}
.header{
  background-color:rgb(192, 0, 98); 
}

.navbar{
  background-color:rgb(192, 0, 98) !important;
}

.navbar-collapse{
  background-color:rgb(192, 0, 98);  
}
.navbar-expand-lg .navbar-collapse {
  display: flex!important;
  justify-content: center;
  flex-basis: auto;
}
.llave{
  width:30px;
}

body{
  background-color:rgb(192, 0, 98); 
}

li{
	color: white !important ;
}

ul{ 
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	color: white !important;
}
a{
	text-decoration: none !important;
	color: white !important;
}
.lista a{
	text-decoration: none !important;
	color:white!important;
}

.lista{
	margin:30px;
	font-family: "bodoni-urw", serif !important;
	font-size: 22px;
}
.blanco{
  background-color:white; 
  padding:50px;
  padding-bottom:150px;
padding-top: 150px;
}
h5{
  font-family: "bodoni-urw", serif !important;
	font-size: 50px;
    color: white!important;
}
.blanco h2{
  padding: 15px;
  color:rgb(102, 45, 145) ;
}
.imgfondo{
background-size: cover;
background-image:url("../img/fondo1.png")!important ;
height: 100vh;
display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.juego{
	background-color: #1D3617;
	width: 100%;
	padding: 30px;
}

.juego img{
	width: 100%;
	margin-bottom: 30px;
}

h3{
	color: white;
	font-size: 20px;
}

.person{
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-content: flex-end;
}

.col{
	width:30%;
}

.col img{
	width: 100%;
}

.instru{
	background-color:plum;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 30px;
		
}
.texto{
}

.footer{
    background-color: plum;
    height:30vh;
}